In [3]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [14]:
#Now we'll learn DataFrames

#Let's get some data to play with. How about the NFL?
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [15]:
#Copy and read to get data
nfl_frame = pd.read_clipboard()

In [16]:
#Show
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC Wes

In [17]:
# We can grab the oclumn names with .columns
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [19]:
#Lets see some specific data columns
DataFrame(nfl_frame,columns=['Team','Won','GP'])

                     Team  Won     GP
0          Dallas Cowboys  550    964
1       Green Bay Packers  790  1,418
2        Baltimore Ravens  243    434
3    New England Patriots  537    966
4           Chicago Bears  786  1,452
5          Miami Dolphins  485    882
6       Minnesota Vikings  516    952
7      Kansas City Chiefs  521    966
8  San Francisco 49ers[b]  574  1,084

In [26]:
nfl_frame.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North

In [27]:
nfl_frame.tail()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC Wes

In [22]:
#What happens if we ask for a column that doesn't exist?
DataFrame(nfl_frame,columns=['Team','First NFL season','GP','Stadium'])

                     Team  First NFL season     GP  Stadium
0          Dallas Cowboys              1960    964      NaN
1       Green Bay Packers              1921  1,418      NaN
2        Baltimore Ravens              1996    434      NaN
3    New England Patriots              1960    966      NaN
4           Chicago Bears              1920  1,452      NaN
5          Miami Dolphins              1966    882      NaN
6       Minnesota Vikings              1961    952      NaN
7      Kansas City Chiefs              1960    966      NaN
8  San Francisco 49ers[b]              1950  1,084      NaN

In [23]:
# Call columns
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [24]:
#We can retrieve individual columns
nfl_frame.Team

0            Dallas Cowboys
1         Green Bay Packers
2          Baltimore Ravens
3      New England Patriots
4             Chicago Bears
5            Miami Dolphins
6         Minnesota Vikings
7        Kansas City Chiefs
8    San Francisco 49ers[b]
Name: Team, dtype: object

In [25]:
# Or try this method for multiple word columns
nfl_frame['GP']

0      964
1    1,418
2      434
3      966
4    1,452
5      882
6      952
7      966
8    1,084
Name: GP, dtype: object

In [31]:
#We can retrieve rows through indexing
nfl_frame.loc[3]

Rank                                   4
Team                New England Patriots
GP                                   966
Won                                  537
Lost                                 420
Tied                                   9
Pct.                               0.561
First NFL season                    1960
Division                        AFC East
Name: 3, dtype: object

In [32]:
#We can also assign value sto entire columns
nfl_frame['Stadium']="Levi's Stadium" #Careful with the ' here

In [33]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,Levi's Stadium
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,Levi's Stadium
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,Levi's Stadium
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,Levi's Stadium
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,Levi's Stadium
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East,Levi's Stadium
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North,Levi's Stadium
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West,Levi's Stadium
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC Wes,Levi's Stadium

In [35]:
#Putting numbers for stadiums
nfl_frame["Stadium"] = np.arange(9)

#Show
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,0
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,1
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,2
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,3
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,4
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East,5
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North,6
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West,7
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC Wes,8

In [36]:
# Call columns
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division', 'Stadium'],
      dtype='object')

In [39]:
#Adding a Series to a DataFrame
stadiums = Series(["Levi's Stadium","AT&T Stadium","T mobile arena"],index=[4,0,8])

In [40]:
#Now input into the nfl DataFrame
nfl_frame['Stadium']=stadiums

#Show
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,AT&T Stadium
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,NaN
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,NaN
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,NaN
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,Levi's Stadium
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East,NaN
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North,NaN
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West,NaN
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC Wes,T mobile arena

In [41]:
#We can also delete columns
del nfl_frame['Stadium']

nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC Wes

In [42]:
#DataFrames can be constructed many ways. Another way is from a dictionary of equal length lists
data = {'City':['SF','LA','NYC'],
        'Population':[837000,3880000,8400000]}

city_frame = DataFrame(data)

#Show
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [43]:
#For full list of ways to create DataFrames from various sources go to teh documentation for pandas:
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True